language: ruby
sudo: false

bundler_args: --without development doc

env:
  global:
    - JRUBY_OPTS="$JRUBY_OPTS --debug"

rvm:
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3.0
  - 2.3.1
  - jruby-9.1.0.0
  - jruby-head
  - ruby-head
  - rbx-2

matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: rbx-2
  fast_finish: true

branches:
  only:
    - master
